<div ng-controller="ShellCtrl as vm">
    <div id="adminNavBar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <i class="icon-home"></i>
                    <span>Angular Base</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" ng-class="{'in': !navCollapsed}">
                <ul class="nav navbar-nav">
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" data-ui-sref="home">Home</a></li>
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" data-ui-sref="page1">Page 1</a></li>
                    <li><a data-toggle="collapse" data-target=".navbar-collapse" data-ui-sref="page2">Page 2</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div ng-show="vm.showSpinner" class="page-splash dissolve-animation">
        <div data-spinner="vm.spinnerOptions"></div>
        <div class="page-splash-message page-splash-message-subtle">{{vm.spinnerMessage}}</div>
    </div>

    <div ui-view id="ui-view" class="container slide-animation admin-content"></div>

</div>